---
const platform = "github";
const linke = "linkedin";
const user = "brayan-chavarro-morales-95a73523b"
const username = "BrayanChavarro";
---

<footer>
  <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a> o <a href={`https://www.${linke}.com/in/${user}/`}>{linke}</a>!</p>
</footer>